.trofeus-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trofeu-wrapper {
  position: relative;
  width: 50px;       
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trofeu-wrapper svg {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
}

.gold {
  color: #ffd700; 
}

.silver {
  color: #adb5bd; 
}

.bronze {
  color: #cd7f32;
}


.trofeu-numero {
  position: absolute;
  top: 45%;           
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.1rem;   
  font-weight: 800;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  pointer-events: none; 
}

.numero-normal {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #f8f9fa;
  color: #6c757d;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #e9ecef;
}